.vp-cs5610-highlight-grid {
  background-color: lightskyblue !important;
}

.vp-cs5610-grid-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.vp-cs5610-grid-text-overflow {
  text-overflow: ellipsis;
}